.um_standard_footer{
    text-align: center;
    margin: 15px 0px 15px 0px;
    clear: both;
}
.um_standard_footer ul{
    padding: 7px 11px;
    margin: 0 auto;
}
.um_standard_footer ul.box{
    padding: 6px 8px;
    background-color: #fff;
    border: 1px solid @grayDark;
    border-radius: 7px;
    width: 560px;
}
.um_standard_footer li{
    display: inline;
    padding: 0px 12px;
    border-right: 1px solid @grayLight;
    color: @gray;
    font-size: 12px;
}
.um_standard_footer li.last{
    border-right: 0px;
}
.um_standard_footer li a{
    color: @gray;
    text-decoration: none;
}
.um_standard_footer li a:hover{
    color: @black;
}