@umNavColumnPadding: 2%;
@umNavColumnMargin: 3%;
@umNavColumnBorder: 1px;
@umNavTopBorderSize: 7px;
@umNavBottomBorderSize: 7px;

.um_standard_header .navrightlinks_wrap{
}

.um_standard_header .dropdown-menu{	
	margin-top: -1px;
	padding-top: 0;
	
	.column{
        display: block;
        min-height: 260px;
		float:left;
		overflow:hidden;
		padding: 8px @umNavColumnPadding;
		margin-right: @umNavColumnMargin;
		.box-shadow(@shadow: 5px 5px 5px 1px rgba(0,0,0,.20));
		.border-radius(0px 0px 4px 4px);
		
		a{
			color: @black;
			display: block;
			padding: 4px;
		}
		
		h3{
			font-size: @baseFontSize;
			line-height: (@baseFontSize + 6);
			//font-weight: bold;
			margin: 5px 0 8px 4px;
		}
		ul{
			list-style-type: none;
			margin-left: 0;
			font-size: @fontSizeSmall;
			
			li{
				margin: 0 0 0px 0;
				line-height: (@fontSizeSmall + 2);
				
			}
		}
	}
}

.um_standard_header .column:last-child, .um_standard_header .column.column_last{
	margin-right: 0;
}

.um_standard_header {
	
.dropdown-menu{
	background: none;
	border: none;
	.box-shadow(none);
	
	}
	
	.dropdown_admissions .column{
		border-top: @umNavTopBorderSize solid @admissionsColor;
		border-bottom: @umNavBottomBorderSize solid @admissionsColor;
		background: lighten(@admissionsColor, 62%);
		
		
		h3{
			color: @admissionsHeadingColor;
		}

		a:hover,
		a:focus{
			background-color: rgb(235, 232, 211); //TODO fixme into maths!
		}
	}
	.dropdown_academics .column{
		border-top: @umNavTopBorderSize solid @academicsColor;
		border-bottom: @umNavBottomBorderSize solid @academicsColor;
		background: lighten(@academicsColor, 82%);
		
		h3{
			color: @academicsHeadingColor;
		}

		a:hover,
		a:focus{
			background-color: lighten(@academicsColor, 74%);
		}
	}
	.dropdown_research .column{
		border-top: @umNavTopBorderSize solid @researchColor;
		border-bottom: @umNavBottomBorderSize solid @researchColor;
		background: lighten(@researchColor, 75%);
		
		
		h3{
			color: @researchHeadingColor;
		}

		a:hover,
		a:focus{
			background-color: rgb(214, 227, 235); //TODO fixme into maths!
		}
	}
	.dropdown_athletics .column{
		border-top: @umNavTopBorderSize solid @athleticsColor;
		border-bottom: @umNavBottomBorderSize solid @athleticsColor;
		background: lighten(@athleticsColor, 40%);
		
		h3{
			color: @athleticsHeadingColor;
		}

		a:hover,
		a:focus{
			background-color: rgb(231, 231, 231); //TODO fixme into maths!
		}
	}
	.dropdown_student-life .column{
		border-top: @umNavTopBorderSize solid @studentLifeColor;
		border-bottom: @umNavBottomBorderSize solid @studentLifeColor;
		background: lighten(@studentLifeColor, 43%);
		h3{
			color: @studentLifeHeadingColor;
		}

		a:hover,
		a:focus{
			background-color: rgb(238, 224, 209); //TODO fixme into maths!
		}
	}
	
}
.navbar .nav > li > .dropdown-menu{
	border: none;
	left: auto;
}


.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle{
	text-shadow: none;
	.border-radius(3px 3px 0 0);
}

.navbar .nav li.dropdown.open > .dropdown-toggle.dropdown_admissions,
.navbar .nav li.dropdown.active > .dropdown-toggle.dropdown_admissions,
.navbar .nav li.dropdown.open.active > .dropdown-toggle#dropdown_admissions {
  background-color: @admissionsColor;
  color: @admissionsTextColor;
}

.navbar .nav li.dropdown.open > .dropdown-toggle.dropdown_academics,
.navbar .nav li.dropdown.active > .dropdown-toggle.dropdown_academics,
.navbar .nav li.dropdown.open.active > .dropdown-toggle#dropdown_academics {
  background-color: @academicsColor;
  color: @academicsTextColor;
}

.navbar .nav li.dropdown.open > .dropdown-toggle.dropdown_research,
.navbar .nav li.dropdown.active > .dropdown-toggle.dropdown_research,
.navbar .nav li.dropdown.open.active > .dropdown-toggle#dropdown_research {
  background-color: @researchColor;
  color: @researchTextColor;
}

.navbar .nav li.dropdown.open > .dropdown-toggle.dropdown_athletics,
.navbar .nav li.dropdown.active > .dropdown-toggle.dropdown_athletics,
.navbar .nav li.dropdown.open.active > .dropdown-toggle#dropdown_athletics {
  background-color: @athleticsColor;
  color: @athleticsTextColor;
}

.navbar .nav li.dropdown.open > .dropdown-toggle.dropdown_student-life,
.navbar .nav li.dropdown.active > .dropdown-toggle.dropdown_student-life,
.navbar .nav li.dropdown.open.active > .dropdown-toggle#dropdown_student-life {
  background-color: @studentLifeColor;
  color: @studentLifeTextColor;
}

@umNavcolumnTotalWidth: 750px;

.um_standard_header .dropdown{

	.dropdown-menu.columns_1{
		width: (@umNavcolumnTotalWidth * .25);
	}
	.dropdown-menu.columns_2{
		width: (@umNavcolumnTotalWidth * .5);
	}
	.dropdown-menu.columns_3{
		width: (@umNavcolumnTotalWidth * .75);
	}
	.dropdown-menu.columns_4{
		width: (@umNavcolumnTotalWidth * 1);
	}
	
	.columns_1 .column{
		width: (100% - ((@umNavColumnPadding + @umNavColumnMargin) - 1%)) - @umNavColumnBorder;
	}
	.columns_2 .column{
		width: (50% - ((@umNavColumnPadding + @umNavColumnMargin)) - 1%) - @umNavColumnBorder;
	}
	.columns_3 .column{
		width: (33% - ((@umNavColumnPadding + @umNavColumnMargin)) - 1%) - @umNavColumnBorder;
	}
	.columns_4 .column{
		width: (25% - ((@umNavColumnPadding + @umNavColumnMargin)) - 1%) - @umNavColumnBorder;
	}
}

//Hack to get rid of the hover carets
.um_standard_header .navbar .nav > li > .dropdown-menu {
  &:before {
    border: none;
  }
  &:after {
    border: none;

  }
}
