//
// Responsive: Large desktop and up
// --------------------------------------------------


@media (max-width: 1060px) {
    .um_standard_header {
        .search form {
            display: none;
        }
        .navrightlinks_wrap li.icon.hide.search-icon {
            .access_hidden;
            position: static;
            left: auto;
        }
        .navrightlinks_wrap li.icon a.icon-search {
            display: block;
            width: 25px;
            background-image: url('@{assetsPath}/imx/icons.png');
            background-position: 3px 105px;
            margin-top: 10px;
        }
        .navrightlinks_wrap li a.atoz {
            display: block;
            padding: 0 20px;
            padding-top: 10px;
        }

        .navrightlinks_wrap .nav>li>a{
            color: @black;
        }   

        .navrightlinks_wrap a.icon-search {
            margin-top: 20px;
            position: static;
            padding: 5px;
            background-position: -42px 0;
        }
        .navrightlinks_wrap li.icon{
            position: static;
            left: auto;
            display: block;
        }
    }
    .events.span3 {
      .span(5);
    }
    .tile_row {
        .tile{
                height: (@tileHeight * 1.25);
                .tile_wrap{
                        height: ((@tileHeight * 1.25) - 25px);
                }
            }
        }
}
