//
// Responsive: Large desktop and up
// --------------------------------------------------

@media (max-width: 979px) {

  .about_photo h4 {
    font-size: (@baseFontSize - 1);
  }

  .happening_at_um {
    .nav li a {
      padding: 17.5px 5px 0px
    }
    .nav li {
      padding-left: 6px;
    }
  }
}
