//
// Responsive: Large desktop and up
// --------------------------------------------------

@media (max-width: 767px) {
  .feature_container {
    padding-right: 0px;
    .featured_link {
      width: 46%;
      margin: 0 2%;
      float: left;
      text-align: center;
      margin-bottom: 15px;
    }
  }

  .photo .events.pull-right .events_feed {
    margin-right: 0px;
    border-radius: 0;
    #gradient > .vertical(@grayDark, @grayDarker);
  }

  .row-fluid.photo {
    height: auto !important;
    margin-bottom: 0px !important;
  }

  .photo  img {
    position: static !important;
  }

  .photo .events.pull-right {
    display: block;
    float: none;
    width: auto;
  }

  body {
    padding: 0px;
  }

  .tile {
    height: auto !important;
    p {
      margin-bottom: 5px;
    }
  }

  .tile .tile_wrap {
    height: auto !important;
  }

  .tile_row {
    margin-bottom: 0 !important;

  }

  .about_photo {
    display: none;
  }

  .feature_container {
    overflow: hidden;
    margin-top: 40px !important;
  }

  .happening_at_um {

    .nav {
      padding-bottom: 10px;
    }

    .nav li {
      padding-left: 8px;
    }

    .nav li a {
      padding: 8.5px 5px 0px;
      font-size: 15px;
    }

    h2 {
      font-size: 18px;
      text-align: center;
      margin-bottom: 0px;
      border-bottom: 0px;
    }

    .navbar.pull-right {
      float: none;
    }
  }
}
