//
// Responsive: Phone
// --------------------------------------------------


@media (max-width: 450px) {
	.um_standard_header{
	
	
		.search form {
		    display: none;
		}
		.search .search_styles{
			background-color: transparent;
		}
		.navrightlinks_wrap li.icon a.icon-search {
		    display: block;
		}
	}
}
