

.search_wrap {
	overflow: hidden;
	margin: 25px 0 25px 0;
}
.search_wrap form, .search_wrap form  legend {
    background: none; 
    border: 0px; 
    margin: 0px; 
    padding: 0px;
}
.search_wrap form  {
    width: 600px; 
    margin: 10px auto; 
    display: block; 
    overflow: hidden;
}
.search_wrap form .search_field_label {
    height: 0px; 
    overflow: hidden; 
    width: 0px; 
    text-indent: -9000px
}
.search_wrap form  .search_field, .search_wrap form .search_field_submit {
    float: left; 
    font-size: 1.2em; 
    height: 33px;
    border: 1px solid #999;
}
.search_wrap form  .search_field input, .search_wrap form  .search_field_submit input {
    border: 0px; 
    height: 31px;
    background: transparent;
}
.search_wrap form  .search_field {
    border-right: 0px;
    .border-radius(5px 0px 0px 5px);
}
.search_field{
    .border-radius(5px 0 5px 0);
}
.search_field_submit{
    .border-radius(0 5px 5px 0);
}
.search_wrap form  .search_field_submit {
    background-color: #DDD; 
    padding: 0 6px ;
}
.search_wrap form  .search_field input {
    width: 475px; 
    padding-left: 3px; 
    font-size: 1.2em
}

@media (max-width: @navbarCollapseWidth) {
.search_wrap form {
    width: 321px;
    padding: 5px 0;
    .search_field {
        height: 34px;
        input {
            width: 150px;
        }
    }
    .search_field_submit {
        padding: 0px;
        height: 34px;
        font-size: 1em;
    }
}
}