
@tileHeight: 450px;

@admissionsColor: #a2a012;
@academicsColor: #311c0f;
@researchColor: #0b486b;
@athleticsColor: #8b8d90;
@studentLifeColor: #d7822d;

@colorTextLighten: 70%;
@colorHeaderLighten: 60%;
@colorHeaderDarken: 30%;

@academicsTileColor: #A3A948;
@researchTileColor: #EDB92E;
@athleticsTileColor: #F85931;
@artsCultureTileColor: #CE1836;
@campusCommunityTileColor: #009989;
@alumniTileColor: #693C64;

@admissionsTextColor: lighten(@admissionsColor, @colorTextLighten);
@academicsTextColor: lighten(@academicsColor, @colorTextLighten);
@researchTextColor: lighten(@researchColor, @colorTextLighten);
@athleticsTextColor: lighten(@athleticsColor, @colorTextLighten);
@studentLifeTextColor: lighten(@studentLifeColor, @colorTextLighten);

@admissionsHeadingColor: darken(@admissionsColor, @colorHeaderDarken);
@academicsHeadingColor: darken(@academicsColor, @colorHeaderDarken);
@researchHeadingColor: darken(@researchColor, @colorHeaderDarken);
@athleticsHeadingColor: darken(@athleticsColor, @colorHeaderDarken);
@studentLifeHeadingColor: darken(@studentLifeColor, @colorHeaderDarken);
