
@import "../variables.less";
@import "../mixins.less";
@import "../um-variables.less";
@import "../um-type.less";
@import "../um-mixins.less";

.umbox{
	padding: 25px 30px;
}

.directory_or{
	text-align: center;
	
	p{
		font-size: @fontSizeLarge;
		margin-top: 33px;
		
		@media (max-width: @navbarCollapseWidth) {
			margin: 10px 0;
			
		}
	}
	
}


.umdirectory{
        @import "../forms.less";
        .directory_row {
            padding-top: 10px;
            input {
                margin-top: 0;
            }
            label  {
                display: inline;
                padding: 0 10px;
            }
        }

	.search_button{
            margin-left: 5px;
            margin-bottom: 8px;
            padding: 3px;
	}
	h3{
		margin-bottom: 15px;
		border-bottom: 1px solid @gray;
	}
	
	.info_wrap strong{
		width: 120px;
		display:  inline-block;
	}
	.directory_details ul{
		margin: 0;
	}
	
	.detail a{
	    color: #603;
	}
	.detail li{
	    list-style-type: none;
	}
	.detail .title{
	    margin: 0px 0px 16px 0px;
	}
	.detail .title h2{
	    color: #4C4C4C;
	    margin-top: 0px;
	    margin-bottom: 0;
	    border-bottom: none;
	}
	.detail .title p{
	    font-style: italic;
	    padding-top: 0;
	    color: #656565;
	    margin-bottom: 10px;
	}
	.detail .contact{
	  margin-bottom: 25px;
	}
	.detail .contact li{
	    margin-bottom: 6px;
	}
	.detail .info_wrap{
	    display: inline-block;
	}
	.detail .address{
	   
	}
	.searchagain{
	    padding: 13px 50px 0px 0px;
	    display: block;
	}
	.detail .address li{
	    margin-bottom: 4px;
	}
	.detail .address .viewmap{
	    margin-top: 4px;
	    font-weight: bold;
	}

	.detailswrap{
	    margin: 0px;
	}
	
}







/********************* DIRECTORY **********`**********/
.directory_top{
    overflow: hidden;
}
.directory_search{
    overflow: hidden;
    padding-top: 5px;
    text-align:center;
}

.directory_error{
    color: #b40000;
    font-weight: bold;
    padding: 0px;
}
.directory{
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 7px;
}
.directory_results{
    margin-top: 20px;
}
.directory_results h2{
    margin: 0px 0px 5px 0px;
}
.directory_results table {
    width: 100%;
}
.directory_results table tfoot td div.previous{
    margin-right: 20px;
}
.directory_results table tfoot td div.next{
    margin-left: 50px;
}


.directory_results table tfoot td div.increments ul li { display: inline; }
.directory_results table tfoot td div.increments ul li a {
    text-decoration: none;
    padding: 2px 5px;
}


.directory_results table tfoot td{ padding-top: 15px; font-size: 1.1em;}
.directory_results table tfoot td div.increments .active{
    font-weight: bold;
}

.directory_results table tfoot td div{
    float:left;
    text-align: center;
    overflow:hidden;
}
.directory_results tr{
    line-height: 25px;
}
.directory_results tr a.name{
    font-weight: bold;
}
.directory_results .odd {
    background-color: #EAEAEA;
}
.directory_results th {
    text-align: left
}
//.directory #byname form, .directory #bydept form { display: block; padding: 35px 0; }
//.directory #byname form input, .directory #bydept form input{ margin-left: 10px;}

.directory div {
    min-height: 95px;
    text-align: center;
}


/* tables */
table.sortable {
}
table.sortable thead tr th, table.sortable tfoot tr th {
}
table.sortable thead tr .header  {
    cursor: pointer;
}
table.sortable thead tr .header  .sort_marker {
    background-image: url(../imx/bg.gif);
    background-repeat: no-repeat;
    background-position: 21% center;
    width: 11px;
    height: 20px;
    display: block;
    float: left;
    overflow: hidden;
    padding-left: 10px;
}
table.sortable thead tr .header .heading {
    display: block;
    float: left;
    overflow: hidden;
    
}
table.sortable thead tr .name{
    background-position: 24% center;
}
table.sortable thead tr .type{
    background-position: 29% center;
}
table.sortable thead tr .department{
    background-position: 26% center;
}
table.sortable thead tr .headerSortUp .sort_marker {
    background-image: url(../imx/asc.gif);
}
table.sortable thead tr .headerSortDown  .sort_marker{
    background-image: url(../imx/desc.gif);
}


@media (max-width: @navbarCollapseWidth) {
    .umbox{
        padding: 10px 5px;
    }
    .directory_results{
    	 font-size: (@baseFontSize - 3);
        h2 {
            font-size: (@baseFontSize * 1.5);
        }
        .type, .department{
            display: none;
        }

        .phone {
            width: 40%;
        }
        td.email {
            .access_hidden();
            position: static;
            left: auto;
                width: 40px;
            a{
                display: block;
                background-image: url('../imx/email_icon.png');
                background-repeat: no-repeat;
                border-bottom: none;
                text-decoration: none;
                height: 40px;
                width: 35px;
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
}