@import "../variables.less";
@import "../mixins.less";
@import "../um-variables.less";
@import "../um-type.less";
@import "../um-mixins.less";

@tileHeight: 300px;
@tileGutter: 10px;
@tileWidth: 500px;
@giganteWidth: ((@tileWidth * 2) + @tileGutter);
@giganteHeight: ((@tileHeight * 2) + @tileGutter);

/* Custom page CSS
  -------------------------------------------------- */
/* Not required for template or sticky footer method. */

.categories li.selected {
  border-bottom: 1px solid #999;
}

.categories li {
  cursor: pointer;
  margin-right: 40px;
}

.packery {
  margin-left: 0px;
}

.packery .credit {
  margin: 20px 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* clearfix */
.packery:after {
  content: '';
  display: block;
  clear: both;
}

.packery .item h2 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 0px;
}

.packery .item.image_tile h2 {
  position: absolute;
  bottom: 0px;

}

.packery .item.image_tile.gigante .content p {
  margin-bottom: 10px;
}

.packery .item.image_tile.gigante .content {
  position: absolute;
  bottom: 0px;
}
.packery .item.image_tile.gigante h2,
.packery .item.image_tile.gigante .content {
  background: rgb(25, 25, 25); /* Fall-back for browsers that don't support rgba */
  background: rgba(25, 25, 25, .5);
  color: #FFF;
}

.packery .item.image_tile.gigante h2 {
  position: absolute;
  overflow: hidden;
  display: block;
  top: 0px;
  padding: 10px;
  margin: 0;
  width: 100%;
  height: (@h2Size*2);
}

.packery .item.image_tile {
  background-position: top left;
  background-repeat: no-repeat;
  /*background-size: auto @tileHeight;
  padding-left: (@tileWidth/3);*/

}

.packery .item {
  width: @tileWidth;
  height: @tileHeight;
  background: #BBB;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  overflow: hidden;
}

.packery .item.ccs {
  background-color: darkseagreen;

}

.packery .item.ds {
  background-color: coral;

}

.packery .item img, .packery .item p {
  display: none;
}

.packery .item.gigante h2 {
  margin-top: 35px;
  margin-bottom: 20px;
}

.packery .item.gigante img, .packery .item.gigante p {
  display: block;
}

.packery .item.gigante img[align^="left"] {
  margin-left: 0px;
}

.packery .item img[align^="right"] {
  margin-right: 0px;
}

.packery .item img,
.packery .item p,
.packery .item h2 {
  margin-right: 10px;
  margin-left: 10px;
}

.packery .item.gigante h2 {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
  background: url(../img/close.png) no-repeat top right;
  padding-right: 20px;
}

.item.gigante {
  display: block;
  width: @giganteWidth;
  height: @giganteHeight;
  border: 1px solid #999;
  background: #CCC;
}

.packery .item.gigante.image_tile {
  background-image: none !important;
  padding-left: 0px;
}

.packery .item.gigante.image_tile img {
  height: @giganteHeight;
  margin: 0;
  padding: 0;
  max-width: none;
}

.item.gigante:hover {
  cursor: auto;
}

.item:hover {
  background: #CCC;
  cursor: pointer;
}

.packery h2 {
  font-size: 20px;
  line-height: 25px;
  margin-top: 35px;
  margin-bottom: 20px;
}