@import "../variables.less";
@import "../mixins.less";
@import "../um-variables.less";
@import "../um-type.less";

#maincontent
{
  @import "../sprites";
  @import "../button-groups";
  @import "../buttons";
  @import "../forms";
  @import "../dropdowns";
  @import "../progress-bars";
  @import "../tables";
  @import "../alerts";

  .nocontent
  {
    background-color: @tableBackgroundAccent;
    text-align: center;
    font-style: oblique;
    border-color: @grayDark;
    border: solid 1px @grayLighter;
    height: 25px;
  }

  .padding-align-center
  {
    text-align: center;
    padding-bottom: 15px;
  }
}



