@tileHeight: 120px;
@tileWidth: 230px;
@tileGutter: 10px;
@giganteWidth: ((@tileWidth * 2) + @tileGutter);
@giganteHeight: ((@tileHeight * 2) + @tileGutter);

/* Custom page CSS
  -------------------------------------------------- */
/* Not required for template or sticky footer method. */

.categories li.selected {
  border-bottom: 1px solid #999;
}

.categories li {
  cursor: pointer;
  margin-right: 40px;
}

/* clearfix */
.packery:after {
  content: '';
  display: block;
  clear: both;
}

.packery {
  margin-left: 0px;
  .credit {
    margin: 20px 0;
  }

  .item {
    width: @tileWidth;
    height: @tileHeight;
    float: left;
    display: table;
    background: #BBB;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    overflow: hidden;
    h3 {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    img, p {
      display: none;
    }
  }

  .item.image_tile {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto @tileHeight;
    padding-left: (@tileWidth/3);
  }

  .item.ccs {
    background-color: darkseagreen;

  }

  .item.ds {
    background-color: coral;

  }

  .item.gigante h2 {
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .item.gigante img, .item.gigante p {
    display: block;
  }

  .item.gigante img[align^="left"] {
    margin-left: 0px;
  }

  .item img[align^="right"] {
    margin-right: 0px;
  }

  .item img,
  .item p,
  .item h2 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .item.gigante h2 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    background: url(../img/close.png) no-repeat top right;
    padding-right: 20px;
  }

  .item.gigante {
    display: block;
    width: @giganteWidth;
    height: @giganteHeight;
    border: 1px solid #999;
    background: #CCC;
  }

  .item.gigante.image_tile {
    background-image: none !important;
    padding-left: 0px;
  }

  .item.gigante.image_tile img {
    height: @giganteHeight;
  }

  .item.gigante:hover {
    cursor: auto;
  }

  .item:hover {
    background: #CCC;
    cursor: pointer;
  }

  h2 {
    font-size: 20px;
    line-height: 25px;
    margin-top: 35px;
    margin-bottom: 20px;
  }
}