.featured_image {
  margin-bottom: 15px;
  img {
    vertical-align: bottom;
  }
  .slight_round_box;
  
  a {
    display: block;
  }
  .feature_image_content {
    background-color: @white;
    padding-left: 10px;
  }

  .featured_image_title {
    margin: 10px 0;
    
  }
  .block {
  font-size: 95%;
  
    a {
      display: inline;
    }
    p {
      margin-bottom: 3px;
      padding: 0px 10px;
    }
  }
  .feature_image_image, .feature_image_content {
  }
}

.featured_image.dark {
  h3.featured_image_title {
    a {
      color: @white;
      border-bottom: 1px solid @white;
    }
    a:hover {
      color: @grayLighter;
      border-bottom: 1px solid @grayLighter;
    }
  }
  .block {
    background: rgb(0, 0, 0); /* The Fallback */
    background: rgba(0, 0, 0, 0.6);
    color: @white;
  }
}

.featured_image.light {
  h3.featured_image_title {
    a {
      color: @grayDark;
      border-bottom: 1px solid @grayDark;
    }
    a:hover {
      color: @maroon;
      border-bottom: 1px solid @maroon;
    }
  }
  .block {
    background: rgb(255, 255, 255); /* The Fallback */
    background: rgba(255, 255, 255, 0.7);
  }
}

.featured_image.half_row {
  .feature_image_image a {
    overflow: hidden;
    display: block;
  }
  .feature_image_image a,
  .feature_image_image a:hover {
    text-decoration: none;
    border: 0px;
  }
}

.featured_image.half_row .feature_image_content,
.featured_image.half_row .feature_image_image.frame {
  padding: 10px;
}

.featured_image.half_row.dark .feature_image_content,
.featured_image.half_row.dark .feature_image_image.frame {
  .dark_box;
  
  h1, h2, h3, h4, h5, h6, p {
    color: @white;
  }
}

.featured_image.half_row.light .feature_image_content,
.featured_image.half_row.light .feature_image_image.frame {
  background-color: @white;
}

.featured_image.half_row.solid_background {
  background-color: @white;
}

.featured_image.half_row.dark.solid_background {
  .dark_box;
}

.featured_image.overlay {
  position: relative;
  .block {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
  }
  @media (max-width: 979px) {
  	position: initial;
  	
  	.block{
  		position: relative;
  	}
  }
}

.featured_image.overlay.dark {
  .block {
    background: rgb(0, 0, 0); /* The Fallback */
    background: rgba(0, 0, 0, 0.5);
    color: @white;
  }
}

.featured_image.overlay.light {
  .block {
    background: rgb(255, 255, 255); /* The Fallback */
    background: rgba(255, 255, 255, 0.7);
  }
}
.featured_image.half_row.dark.solid_background .feature_image_content{
	background: none;
}