.google_cse {
  margin-top: 1px;

  #site_search_box {
    font-size: 13px;
    color: @grayLight;
    padding: 2px 10px;
  }
  input.search-query {
    border-radius: 7px;
  }
}

#cse {
  padding: 30px;
  padding-top: 0;
  display: block;
  .element-padding(0px, 0px);
}