@featuredLinkMaroon: #380005;
@featuredLinkTeal: #009989;
@featuredLinkOrange: #F85931;
@featuredLinkRed: #CE1836;
@featuredLinkDark: #000;
@featuredLinkLight: #fff;

.content_wrapper .featured_site_links .featured_link.row-fluid.feature_title h3{
	color: #424242;
}
.featured_site_links {
  padding: 20px 20px 20px 0px;
  
  .featured_link {
    margin-bottom: 20px;
    
    .grad_button{
    	font-size: 16px;
    	color: @white;
    	padding: 5px 10px;
    	display: block;
    	.border-radius(6px);
    	.box-shadow(1px 1px 3px rgba(0,0,0,.1));
    	text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.9), 0px 1px 0px rgba(0, 0, 0, 0.9);
    	text-align: center;
    }
    .featurebutton_none_text_only{
    	.box-shadow(none);
    	
    	.feature_title h3{
    		color: #424242;
    		text-shadow: none;
    	}
    }
    .featurebutton_maroon{
    	#gradient > .vertical(@featuredLinkMaroon, darken(@featuredLinkMaroon, 10%));
    	border: 1px solid #330000;
    }
    .featurebutton_teal{
    	#gradient > .vertical(@featuredLinkTeal, darken(@featuredLinkTeal, 10%));
    	border: 1px solid #330000;
    }
    .featurebutton_orange{
    	#gradient > .vertical(@featuredLinkOrange, darken(@featuredLinkOrange, 25%));
    	border: 1px solid #330000;
    }
    .featurebutton_red{
    	#gradient > .vertical(@featuredLinkRed, darken(@featuredLinkRed, 20%));
    	border: 1px solid #330000;
    }
    .featurebutton_dark{
    	#gradient > .vertical(@featuredLinkDark, lighten(@featuredLinkDark, 25%));
    	border: 1px solid #424242;
    }
    .featurebutton_light{
    	#gradient > .vertical(@featuredLinkLight, darken(@featuredLinkLight, 20%));
    	border: 1px solid #a1a1a1;
    	text-shadow: none;
    	
    	.feature_title h3{
    		color: #424242;
    	}
    }
    
    .feature_link_content {
      margin-bottom: 0px;
    }
    .feature_title{
    	
    	h3{
    		margin: 10px 0;
 			color: @white;
    	}
    }
  }
}

.featured_links {
  padding: 20px;
}