.featured_tiles {
.slight_round_box;

  .light_shadow {
    .site_tile {
      border: 1px solid #ededed;
    }
  }
  .dark_shadow {
    .site_tile {
      border: 1px solid #777;
    }
  }
  .site_tile.large_image_text .tile_content{
  	padding-left: 15px;
    padding-right: 15px;
  }
  .site_tile {

    min-height: 100px;
    border-radius: 3px;
    .tile_image {
      text-align: center;
      a {
        border: 0px;
        text-decoration: none;
      }
      a:hover {
        border: 0px;
        text-decoration: none;
      }
    }
    .tile_image.frame img {
      width: 86%;
      padding: 7%;
    }

    .span12.tile_content {
      padding-left: 15px;
    }

    .tile_content {
      font-size: .9em;
      line-height: (@baseLineHeight - 4px);
      padding-right: 10px;
      h3 {
        margin-top: 5%;
        margin-bottom: 7px;
      }
    }
  }
  .dark {
    .site_tile {
      .tile_content {
        a {
          color: @white;
          border-bottom: 1px solid @grayLighter;
        }
        a:hover {
          color: @grayLighter;
          border-bottom: 1px solid @grayLight;
        }
      }
    }
  }
}

.featured_tiles.dark{

	p, h1,h3{
		color: @white;
	}
	a{
		color: #e1e1e1;
	}
}
.featured_tiles.dark.solid_background,
.featured_tiles .dark.solid_background,
.featured_tiles .dark{
	.dark_box;
	
  .site_tile {
    border-color: #555;
    .dark_box;
  }
}

.featured_tiles.light.solid_background,
.featured_tiles .light.solid_background{
  .translucent_box_light;
  
  .site_tile {
    border-color: @white;
    .translucent_box_light;
  }
}

.featured_tiles.dark .site_tile,
.featured_tiles .dark .site_tile {
	.dark_box;
}
.featured_tiles.light .site_tile,
.featured_tiles .light .site_tile {
	.translucent_box_light;
}
// Responsive Tiles (after launch, too many bugs)
//@media (max-width: 979px) AND (min-width: 768px){
//	.featured_tiles .tile_row{
//		width: auto;
//		margin-bottom: 0;
//	}
//	.featured_tiles .span3{
//		width: 48%;
//		overflow: hidden;
//		margin: 0 1% 7px 1%;
//	}
//}
	
