.site_container {
  margin-top: 30px;
}

.site_container .navbar {
  margin-bottom: 15px;
}

.site_container form {
  margin-bottom: 0 !important;
}

.school-top-nav {
  background-color: @grayMedium;
  color: @white;
  padding: 5px 0;
}

.content_wrapper {
  .slight_round_box;
  overflow: auto;
}
.content-area{
	padding-bottom: 15px
}
.theme_light .content-container{
	.translucent_box_light;
}
.theme_dark .content-container{
	.translucent_box_dark;
}
.top-image {
  color: @white;
}

.full-image {
  background-color: @maroon;
}

.limit-image {
  background-color: darken(@maroon, 5%);
}

.left-navigation {
  overflow: hidden;
}

.remainder-box {
  width: auto;
  float: none;
  overflow: hidden;
  @media (max-width: 979px) {
  overflow: visible;
  }
}

.layout {
  background-color: @white;
  margin-bottom: 20px;
}

.navbar a {
  border-bottom: 0;
}

.google_cse form {
  margin-bottom: 5px;
}
.site-footer{
	  overflow: hidden;
}
.site_footer {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 90%;
  
  h3 {
    margin-top: 20px;
  }
  ul {
    list-style-type: none;
    margin-left: 0;

    li {
      line-height: (@baseLineHeight - 3);
    }
  }
  .site_logo{
  	margin: 20px 0;
  }
}

.content-area, .site-footer {
  .element-padding;

  .content-padding {
    padding-left: 30px;
    padding-right: 30px;
    .element-padding(0px , 0px);
  }
}
h1, h2, h3, h4, h5, h6 {
  a:after{
    content: ""
  }
}