@import "../um-global.less";
@import "../um-tiles.less";
@import "../um-photo.less";
@import "../um-landing.less";
@import "../um-search-form.less";
@import "../um-informational.less";
@import "../navs.less";
@import "../wells.less";
@import "../breadcrumbs.less";
@import "../alerts.less";
@import "../tables.less";


.site_container{
	@import "../forms.less";
}

@import "um-template-main.less";
@import "um-template-mixins.less";
@import "um-site-containers.less";
@import "um-site-brand.less";
@import "um-site-nav.less";
@import "um-site-cse.less";
@import "um-site-breadcrumbs.less";
@import "um-site-tiles.less";
@import "um-site-featured-image.less";
@import "um-site-contact-info.less";
@import "um-site-featured-links.less";
@import "um-site-background-image.less";

@h3Size: (@baseFontSize * 1.33 );

h3 {
  font-size: (@h3Size * 1);
  line-height: (@h3Size * 1);
  margin-top: (@h3Size * 2);
  margin-bottom: (@h3Size * 1);
}